// colors
$bg-color: #fff;
$logo-color: #06b6d4;

html,
body {
  width: 100%;
  height: 100%;
  background: $bg-color;
  overflow: hidden;

  * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-sizing: border-box;

    &:before,
    &:after {
      content: "";
      position: absolute;
    }
  }
}

.shape {
  &-inner {
    &-1 {
      width: 20vmin;
      height: 19vmin;
      background: $logo-color;
      top: -31vmin;
      left: -16vmin;
      border-top-left-radius: 100%;
      transform: rotate(10deg);

      &::before {
        width: 22vmin;
        height: 17.8vmin;
        background: $logo-color;
        left: 19.9vmin;
        border-top-right-radius: 100%;
      }

      &::after {
        width: 11vmin;
        height: 4vmin;
        background: $logo-color;
        top: 17vmin;
        left: 27vmin;
        border-bottom-left-radius: 100%;
        transform: rotate(-5deg);
      }
    }
    &-2 {
      width: 20vmin;
      height: 19vmin;
      background: $logo-color;
      top: -15.3vmin;
      left: 55.6vmin;
      border-bottom-right-radius: 100%;
      transform: rotate(10deg);

      &::before {
        width: 9vmin;
        height: 11.2vmin;
        background: $bg-color;
        top: -1.8vmin;
        left: 8.8vmin;
        border-bottom-right-radius: 100%;
        transform: rotate(17deg) skewX(-8deg);
      }

      &::after {
        width: 15.5vmin;
        height: 9vmin;
        background: $bg-color;
        top: -1.6vmin;
        left: -1.8vmin;
        border-radius: 50%;
        transform: rotate(22deg);
        box-shadow: -1vmin -0.1vmin 0 0 $bg-color;
      }
    }

    &-3 {
      width: 6vmin;
      height: 3vmin;
      background: $logo-color;
      top: -8.8vmin;
      left: 14vmin;
      border-bottom-left-radius: 100%;
      transform: rotate(20deg) skewX(25deg);
    }

    &-4 {
      width: 9vmin;
      height: 11.2vmin;
      background: $bg-color;
      top: -20vmin;
      left: -26vmin;
      border-top-left-radius: 100%;
      transform: rotate(20deg) skewX(-12deg);

      &::before {
        width: 15.5vmin;
        height: 9vmin;
        background: $bg-color;
        top: 0.3vmin;
        left: 4.5vmin;
        border-radius: 50%;
        transform: rotate(19deg);
      }

      &::after {
        width: 9vmin;
        height: 4vmin;
        background: $bg-color;
        top: 2.6vmin;
        left: 14vmin;
        transform: rotate(22deg);
      }
    }
  }
}

.bottom {
  top: 47vmin;
  left: -39vmin;
}
